<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"></meta>
    <title>CRUD</title>
    <link href="../css/default.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.7.0/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.7.0/themes/icon.css"/>
    <script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.easyui.min.js"></script>

    <!-- 导入自己的 js -->
    <script type="text/javascript" src='../js/my.js'></script>
</head>

<body>
<table id="dg" title="程序参数管理" class="easyui-datagrid" fitColumns="true" pagination="true" rownumbers="true" url="/prog/list" fit="true" toolbar="#tb">
    <thead>
    <tr>
        <th field="cb" checkbox="true" align="center"></th>
        <th field="author" width="30" align="center">作者</th>
        <th field="progName" width="60" align="center">程序名</th>
        <th field="confirmFlag" width="20" align="center" data-options="formatter:unitformatter">复核标志</th>
        <th field="progDesc" width="200" align="center">描述</th>


    </tr>
    </thead>
</table>

<!-- CRUD 菜单栏 -->
<div id="tb">
    <div>
        <!--plain="true"去掉边框-->
        <a href="javascript:openLinkAddDialog()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="javascript:openLinkModifyDialog()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="javascript:deleteLink()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
    </div>
    <div>
        &nbsp;程序名：&nbsp;<input type="text" id="s_progName" size="20" onkeydown="if(event.keyCode==13) searchWebSite()" /> &nbsp;&nbsp;
        &nbsp;作者：&nbsp;<input type="text" id="s_author" size="10" onkeydown="if(event.keyCode==13) searchWebSite()" /> &nbsp;&nbsp;
        <a href="javascript:searchWebSite()" class="easyui-linkbutton" iconCls="icon-search" plain="true">搜索</a>
    </div>
</div>

<!-- 修改框内容 -->
<div id="dlg" class="easyui-dialog" style="width: 500px;height: 200px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <table cellspacing="8px">
            <tr>
                <td>作者：</td>
                <td>
                    <input type="text" id="author" name="author" class="easyui-validatebox" required="true" />
                </td>
            </tr>
            <tr>
                <td>程序名：</td>
                <td>
                    <input type="text" id="progName" name="progName" class="easyui-validatebox" required="true" />
                </td>
            </tr>
            <tr>
                <td>复核标志：</td>
                <td>
                    <input type="text" id="confirmFlag" name="confirmFlag" class="easyui-combobox" required="true" />
                </td>
            </tr>
            <tr>
                <td>描述：</td>
                <td>
                    <input type="text" id="progDesc" name="progDesc" class="easyui-validatebox" required="true" />
                </td>
            </tr>
        </table>
    </form>
    <!-- 修改对话框的 save、close 按钮 -->
    <div id="dlg-buttons">
        <a href="javascript:saveLink()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
        <a href="javascript:closeLinkDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
    </div>
</div>



</body>

</html>